<section>
    <div class="wrapQues">
        <div class="rout">
            <p>&nbsp;שאלות עבור מסכת&nbsp;{{mailService.selectedMaseches}}&nbsp;דף&nbsp;{{mailService.selectedpage}}</p>
        </div>
        <div class="accordionQues">
            <label for="exampleFormControlTextarea1">{{userService.user.Email}}&nbsp;משתמש&nbsp;</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="body"
                [(ngModel)]="questionText" #body="ngModel" placeholder=" כתוב כאן את קושייתך או שאלתך"></textarea>
            <br>
            <input type="button" (click)="QuestionSend()" style="text-align: left;" class="form-control"
                class="btn btn-primary btn-lg" value="שלח">
        </div>
        <br>
        <div class="accordionQues">
            <label for="exampleFormControlInput">השאלות והקושיות שנשאלו עד עתה</label>
            <div>
                <div class="row">
                    <div>

                    </div>
                    <div>
                        <ol style="list-style-type:none;">
                            <li *ngFor="let question of questionListShow">
                                <div class="row">
                                    <textarea class="form-control" class="mytextarea" rows="3"
                                        placeholder={{question.questionText}}></textarea>
                                    <div *ngIf="!showAnswer">
                                        <input class="btn btn-primary" type="button" value="תירוץ הקושיא"
                                            (click)="Answer()" style="border-radius: 50px; ">
                                    </div>
                                    <div *ngIf="showAnswer">
                                        <ol style="list-style-type:none;">
                                            <li *ngFor="let answer of answerListShow">
                                                <textarea class="form-control" class="mytextarea" rows="2"
                                                    placeholder={{answer.answerBody}}></textarea>
                                                <input class="btn btn-primary" type="button" value="להוספת תירוץ נוסף"
                                                    (click)="Answer()" style="border-radius: 50px; ">
                                                <input class="btn btn-primary" type="button" value="להשגת התירוץ"
                                                    (click)="Answer()" style="border-radius: 50px; ">
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                                <br>
                            </li>
                        </ol>
                    </div>
                    <div *ngIf="NoQuestionListShow">
                        <textarea class="form-control" class="mytextarea" rows="4"
                            placeholder="טרם שאלו קושיות לדף זה"></textarea>
                    </div>
                </div>
                <br>
                <br>
            </div>
        </div>
    </div>
</section>