<section>
    <div class="wrapQues">
        <app-header></app-header>
        <div class="rout">
            <p>&nbsp;שאלות עבור&nbsp;{{userService.currentPath}}</p>
        </div>
        <div class="accordionQues">
            <label for="exampleFormControlTextarea1">{{userService.user.Email}}&nbsp;משתמש&nbsp;</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="body"
                [(ngModel)]="questionText" #body="ngModel" placeholder=" כתוב כאן את קושייתך או שאלתך"></textarea>
            <br>
            <input type="button" (click)="QuestionSend()" style="text-align: left;" class="form-control"
                class="btn btn-primary btn-lg" value="שלח שאלה">
        </div>
        <br>
        <div class="accordionQues">
            <label for="exampleFormControlInput">שאלות וקושיות שנשאלו עד עתה</label>
            <br />
            <p class="teach">שאלה</p>

            <ol style="list-style-type:none;">
                <li *ngFor="let question of userService.questionListShow;let i=index">
                    <div class="row">
                        <textarea class="form-control" class="mytextarea" rows="6"
                            placeholder={{question.questionText}}></textarea>
                        <input class="btn btn-primary" type="button" value="תירוץ הקושיא" (click)="Answer(i)"
                            style="border-radius: 50px; ">
                        <br />
                        <br />
                    </div>
                    <div class="row" style="text-align: center;">
                        <p class="teach">תשובות</p>
                    </div>
                    <div class="row">
                        <div *ngIf="showAnswer">
                            <ol style="list-style-type:none">
                                <li
                                    *ngFor="let i=index; let answer of userService.answerListShow | slice:flagUntilAnswers[i]:flagUntilAnswers[i+1]">
                                    <textarea class="form-control" class="mytextarea" rows="2"
                                        placeholder={{answer.answerBody}}></textarea>
                                </li>
                            </ol>
                        </div>
                        <input class="btn btn-primary" type="button" value="תגובה לתירוץ" (click)="Answer(i)"
                            style="border-radius: 50px; ">
                    </div>
                    <br>
                </li>
            </ol>
            <div *ngIf="NoQuestionListShow">
                <textarea class="form-control" class="mytextarea" rows="4"
                    placeholder="טרם נשאלו קושיות לדף זה"></textarea>
            </div>
        </div>
        <br>
        <br>
    </div>
</section>