<div class="menu">
    <div class="flex-container">
        <div class="L_side">
            <img title="" class="logo" alt="" src="../../assets/1233.png">
        </div>
        <div class="R_side">
            <!-- <span class="humburger"> <a href="javascript:showMenu()"><img title="" class="hum" alt=""
                        src="/globalassets/global/hp-012net/images/humburger.png"></a>
            </span> -->
            <div class="wrapLink">
                <a href="https://www.012.net/hp">אודות</a>
                <a href="https://www.012.net/mabal">צור קשר</a>
                <a href="https://www.012mail.net/uwclogin/" target="_blank">דף ראשי</a>
                <a href="https://www.012mobile.co.il/newHomePage" target="_blank">בחירת דפים לקבלת מיילים</a>
                <a href="https://www.partner.co.il/n/login" target="_blank">אזור אישי</a>
            <div class="icon">
                <svg id="share-solid" viewBox="0 0 512 512">
                    <path fill="currentColor"
                        d="M503.691 189.836L327.687 37.851C312.281 24.546 288 35.347 288 56.015v80.053C127.371 137.907 0 170.1 0 322.326c0 61.441
                                 39.581 122.309 83.333 154.132 13.653 9.931 33.111-2.533 28.077-18.631C66.066 312.814 132.917 274.316 288 272.085V360c0 20.7 24.3 31.453 39.687 18.164l176.004-152c11.071-9.562 11.086-26.753 0-36.328z">
                    </path>
                </svg>
            </div>
        </div>
        </div>
    </div>
