<div class="wrapQues">
    <h1>"ברוכים הבאים ל - "ללמוד וללמד</h1>
    <div class="row">
        <div class="col">
            <div class="accordionQues">
                <h6>שאלות שנשאלו לאחרונה</h6>
                <ol style="list-style-type:none;">
                    <li *ngFor="let question of userService.questionListShow;let i=index">
                        <div class="box">
                            <button style="width: 350px;" type="button">
                                :{{question.questionPath}} 
                                <div style="font-weight: bold;">{{question.questionText}}</div>
                            </button>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
        <div class="col">
            <div class="accordionLogin">
                <h2>כניסה והרשמה</h2>
                <div class="quesBox" style="background: none;">
                    <form #userForm="ngForm" (ngSubmit)="Login(); userForm.reset()">
                        <div class="form-group">
                            <label for="email">מייל</label>
                            <input type="email" class="form-control" [(ngModel)]="emailText" name="email"
                                #email="ngModel" email pattern="^'[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$'" required />
                        </div>
                        <div class="form-group">
                            <label for="password">סיסמא</label>
                            <input type="password" class="form-control" [(ngModel)]="passwordText" name="password"
                                #password="ngModel" required />
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                כניסה
                            </button>
                            <a routerLink="/register" class="btn btn-link">הרשמה</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>