<div class="wrapQues">
    <app-header></app-header>
    <h4 style="text-align:center;">בחר את מיקומם של השאלות של הדפים או הסעיפים הספציפיים
        שתרצה לקבל למייל שלך </h4>
    <div class="row" style="margin-top: 60px;">
        <div class="col-md-1"></div>
        <div class="col-md-2  select-outline">
            <select class="PageSelect" (change)="RambamSelect($event.target.value)">
                <option value="" disabled selected hidden>רמב"ם</option>
                <option value="1">מדע</option>
                <option value="2">אהבה </option>
                <option value="3">זמנים</option>
                <option value="4">נשים </option>
                <option value="5">קדושה</option>
                <option value="6">הפלאה </option>
                <option value="7">זרעים</option>
                <option value="8">עבודה </option>
                <option value="9">קרבונות</option>
                <option value="10">טהרה</option>
                <option value="11">נזיקין</option>
                <option value="12">קנין</option>
                <option value="13">משפטים</option>
                <option value="14">שופטים </option>
            </select>
            <div *ngIf="AhlocesFlag > 0 ">
                <select class="PageSelect" (change)="HalocheSelect($event.target.value)">
                    <option value="" selected disabled hidden>הלכות</option>
                    <option *ngFor="let page of hlocesList " [value]='page'>
                        הלכות {{page}}
                    </option>
                </select>
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <div *ngIf="hideSeif && hideSimen">
                <select class="PageSelect" (change)="SimenSelect($event.target.value)">
                    <option value="" disabled selected hidden>שולחן ערוך</option>
                    <option value="697">אורח חיים</option>
                    <option value="403">יורה דעה </option>
                    <option value="427">חושן משפט</option>
                    <option value="178">אבן העזר </option>
                </select>
            </div>
            <div *ngIf="hideSeif && !hideSimen">
                <div *ngIf="kindOfSO > 0 ">
                    <select class="PageSelect" (change)="SeifSelect($event.target.value)">
                        <option value="" selected disabled hidden>סימן</option>
                        <option *ngFor="let simen of simenList  | slice:0:kindOfSO" [value]='simen'>
                            סימן {{simen}}
                        </option>
                    </select>
                </div>
            </div>
            <!-- <div *ngIf="!hideSeif">
                <select class="PageSelect" (change)="SeifSpesifiSelect($event.target.value)">
                    <option value="" selected disabled hidden>סעיף</option>
                    <option *ngFor="let AB of alefbet  | slice:0:numOfSeif " [value]='AB'>
                        סעיף {{AB}}
                    </option>
                </select>
            </div> -->
            <div *ngIf="hideSeifCheckboxes">
                <select class="PageSelect">
                    <option selected disabled hidden>סעיף</option>
                </select>
                <div class="checkboxes">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="custom-control custom-checkbox"
                                *ngFor="let AB of alefbet  | slice:0:numOfSeif ">
                                <input type="checkbox" id="check1"
                                    (change)="SeifSpesifiOnChange($event.target.checked, selectedpage)"
                                    [checked]="checked(selectedpage)">
                                סעיף {{AB}}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <div *ngIf="hide">
                <select class="PageSelect" (change)="selectOption($event.target.value)">
                    <option value="" selected disabled hidden>ש"ס</option>
                    <option value='{"numOfPage":"125","maseces":"ברכות"}'>ברכות</option>
                    <option value='{"numOfPage":"312","maseces":"שבת"}'>שבת</option>
                    <option value='{"numOfPage":"207","maseces":"עירובין"}'>עירובין</option>
                    <option value='{"numOfPage":"240","maseces":"פסחים"}'>פסחים</option>
                    <option value='{"numOfPage":"67", "maseces":"ראש השנה"}'>ראש השנה</option>
                    <option value='{"numOfPage":"173","maseces":"יומא"}'>יומא</option>
                    <option value='{"numOfPage":"110","maseces":"סוכה"}'>סוכה</option>
                    <option value='{"numOfPage":"78", "maseces":"ביצה"}'>ביצה</option>
                    <option value='{"numOfPage":"59", "maseces":"תענית"}'>תענית</option>
                    <option value='{"numOfPage":"61", "maseces":"מגילה"}'>מגילה</option>
                    <option value='{"numOfPage":"55", "maseces":"מועד קטן"}'>מועד קטן</option>
                    <option value='{"numOfPage":"51", "maseces":"חגיגה"}'>חגיגה</option>
                    <option value='{"numOfPage":"242","maseces":"יבמות"}'>יבמות</option>
                    <option value='{"numOfPage":"222","maseces":"כתובות"}'>כתובות</option>
                    <option value='{"numOfPage":"180","maseces":"נדרים"}'>נדרים</option>
                    <option value='{"numOfPage":"130","maseces":"נזיר"}'>נזיר</option>
                    <option value='{"numOfPage":"96", "maseces":"סוטה"}'>סוטה</option>
                    <option value='{"numOfPage":"178","maseces":"גיטין"}'>גיטין</option>
                    <option value='{"numOfPage":"162","maseces":"קידושין"}'>קידושין</option>
                    <option value='{"numOfPage":"236","maseces":"בבא קמא"}'>בבא קמא</option>
                    <option value='{"numOfPage":"235","maseces":"בבא מציעא"}'>בבא מציעא</option>
                    <option value='{"numOfPage":"350","maseces":"בבא בתרא"}'>בבא בתרא</option>
                    <option value='{"numOfPage":"224","maseces":"סנהדריו"}'>סנהדריו</option>
                    <option value='{"numOfPage":"46", "maseces":"מכות"}'>מכות</option>
                    <option value='{"numOfPage":"96", "maseces":"שבועות"}'>שבועות</option>
                    <option value='{"numOfPage":"150","maseces":"עבודה זרה"}'>עבודה זרה</option>
                    <option value='{"numOfPage":"25", "maseces":"הוריות"}'>הוריות</option>
                    <option value='{"numOfPage":"238","maseces":"זבחים"}'>זבחים</option>
                    <option value='{"numOfPage":"217","maseces":"מנחות"}'>מנחות</option>
                    <option value='{"numOfPage":"181","maseces":"חולין"}'>חולין</option>
                    <option value='{"numOfPage":"119","maseces":"בכורות"}'>בכורות</option>
                    <option value='{"numOfPage":"65", "maseces":"ערכין"}'>ערכין</option>
                    <option value='{"numOfPage":"65", "maseces":"תמורה"}'>תמורה</option>
                    <option value='{"numOfPage":"54", "maseces":"כריתות"}'>כריתות</option>
                    <option value='{"numOfPage":"41", "maseces":"מעילה"}'>מעילה</option>
                    <option value='{"numOfPage":"143","maseces":"נדה"}'>נדה</option>
                </select>
            </div>
            <!-- <div *ngIf="flagMasechesSelected">
                <select class="PageSelect" (change)="PageSelect($event.target.value)">
                    <option value="" selected disabled hidden>דף</option>
                    <option *ngFor="let selectedpage of pageList  | slice:0:selected" [value]='selectedpage'>
                        דף {{selectedpage}}
                    </option>
                </select>
            </div> -->
            <div *ngIf="flagMasechesSelected">
                <select class="PageSelect">
                    <option selected disabled hidden>דף</option>
                </select>
                <div *ngIf="flagPageCheckboxes">
                    <div class="checkboxes">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="custom-control custom-checkbox"
                                    *ngFor="let selectedpage of pageList  | slice:0:selected">
                                    <input type="checkbox" id="check1"
                                        (change)="onChange($event.target.checked, selectedpage)"
                                        [checked]="checked(selectedpage)">
                                    {{selectedpage}}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <button class="answer" (click)="spezhifiPagOk()">לסיום לחץ אישור</button>
</div>