<div class="wrapQues">
    <app-header></app-header>

    <div class="accordionLogin">
        <h2>הרשמה</h2>
        <div class="quesBox" style="background: none;">
            <form #userForm="ngForm" (ngSubmit)="register(); userForm.reset()">
                <!-- <div class="form-group">
                <div id="ClientTokefSpan" class="SpanDiv">
                    <span class="SpanLbl"><span style="color: indianred">*</span><span
                            id="ClientTokefLbl">:מייל</span></span><br>
                    <input  dir="ltr" type=email [(ngModel)]="registrationUserName" name="username"
                    #username="ngModel" class="form-control" style="text-align: right; width: 100%;"><br>
                </div>
            </div>
            <div class="form-group">
                <div id="ClientTokefSpan" class="SpanDiv">
                    <span class="SpanLbl"><span style="color: indianred">*</span><span
                            id="ClientTokefLbl">:סיסמא</span></span><br>
                    <input  dir="ltr" type=text [(ngModel)]="registrationPassword" name="password"
                    #password="ngModel" class="form-control" style="text-align: right; width: 100%;"><br>
                </div>
            </div>
            <div class="form-group">
                <div id="ClientTokefSpan" class="SpanDiv">
                    <span class="SpanLbl"><span style="color: indianred">*</span><span
                            id="ClientTokefLbl">:שם משפחה ושם פרטי</span></span><br>
                    <input  dir="ltr" type=text class="form-control" style="text-align: right; width: 100%;"><br>
                </div>
            </div>
            <div class="form-group">
                <div id="ClientTokefSpan" class="SpanDiv">
                    <span class="SpanLbl"><span style="color: indianred">*</span><span
                            id="ClientTokefLbl">:תעודת זהות</span></span><br>
                    <input  dir="ltr" type=tel class="form-control" style="text-align: right; width: 100%;"><br>
                </div>
            </div> -->
                <!-- <div id="ClientNameSpan" class="SpanDiv">
                    <label for="ClientNameTxt" class="SpanLbl"><span style="color: indianred">*</span><span
                            id="ClientNameLbl">:שם משפחה ושם פרטי</span></label><br>
                    <input id="ClientNameTxt" name="nope" dir="rtl" type="text" maxlength="50" class="form-control"
                        autocomplete="off" style="text-align: right; width: 50%; width: 100%"><br>
                </div> -->
                <!-- <div id="ZeoutSpan" class="SpanDiv">
                    <label for="ZeoutTxt" class="SpanLbl"><span id="NeedZeout"
                            style="color: indianred; display: none">*</span><span id="ZeoutLbl">:תעודת זהות</span></label><br>
                    <input id="ZeoutTxt" name="nope" dir="ltr" type="tel" maxlength="9" class="form-control"
                        autocomplete="off" style="text-align: right; width: 100%" required>
                    <div id="LogInLbl" dir="rtl"
                        style="text-align: right; font-size: small; font-family: Arial; margin-top: 2px; -webkit-user-select: none; opacity: 0.6">
                        <span id="LogInLbl1">משתמש רשום?</span> <span id="LogInLbl2"
                            style="cursor: pointer; color: cornflowerblue;">לחץ כאן</span>
                    </div>
                </div> -->
                <div id="PasswordSpan" class="SpanDiv">
                    <label for="PasswordTxt" id="PasswordLbl" class="SpanLbl"><span id="NeedPhone"
                            style="color: indianred; display: none;">*</span>
                        <span id="PhoneLblTxt">:סיסמא</span></label><br>
                    <input  class="form-control" [(ngModel)]="registrationPassword" #password="ngModel" name="password"
                        style="text-align: right; width: 100%"><br>
                </div>
                <div id="MailSpan" class="SpanDiv">
                    <label for="MailTxt" class="SpanLbl"><span id="NeedMail"
                            style="color: indianred; display: none;">*</span>
                        <span id="MailLbl">:מייל</span></label><br>
                    <input type="email" class="form-control" [(ngModel)]="registrationEmail"  #email="ngModel" name="email"
                        style="text-align: left; width: 100%"><br>

                </div>
<!-- 
                <div id="PhoneSpan" class="SpanDiv">
                    <label for="PhoneTxt" id="PhoneLbl" class="SpanLbl"><span id="NeedPhone"
                            style="color: indianred; display: none;">*</span><span
                            id="PhoneLblTxt">טלפון:</span></label><br>
                    <input id="PhoneTxt" name="nope" dir="ltr" type="tel" maxlength="16" class="form-control"
                        autocomplete="off" style="text-align: right; width: 100%"><br>
                </div>
                <div id="ClientAmountSpan" class="SpanDiv">
                    <span class="SpanLbl"><span style="color: indianred">*</span><span id="AmountLabel">:סך הכל
                            לתשלום</span></span><br>
                    <div style="position: relative">
                        <input id="AmountTxt" name="nope" dir="ltr" type="tel" maxlength="10" class="form-control"
                            autocomplete="off" style="text-align: right; width: 100%;"><br>
                    </div>
                </div>


                <div id="ClientTashlumimSpan" class="SpanDiv">
                    <span class="SpanLbl"><span style="color: indianred; display: inline;"
                            id="TashloumimStar">*</span><span id="TashloumimLabel">:מספר תשלומים</span></span><br>
                    <input id="TashloumimTxt" name="nope" dir="ltr" type="tel" maxlength="5" class="form-control"
                        autocomplete="off" style="text-align: right; width: 50%; width: 100%;"><br>
                    <span id="TashloumimAlertTxt" style="margin: 5px; display: none;"></span>
                </div>

                <div id="ClientKevaDaySpan" class="SpanDiv" style="display: none;">
                    <span class="SpanLbl"><span style="color: indianred">*</span><span id="KevaDayLbl">:יום גביה בכל
                            חודש</span><span id="MasavDay" style="font-size: small; display: none;"><br>
                            (1-5-10-15-20-25-28)</span></span><br>
                    <input id="DayTxt" dir="ltr" name="nope" type="tel" maxlength="2" class="form-control"
                        autocomplete="off" style="text-align: right; width: 100%; display: none;"><br>
                </div>
                <div id="Blank2" class="SpanDiv" style="display: none;">&nbsp;</div>

                <div id="ClientCardSpan" class="SpanDiv" style="position: relative">
                    <span class="SpanLbl"><span style="color: indianred">*</span><span id="ClientCardLbl">:מספר
                            כרטיס אשראי</span></span><br>
                    <div style="position: relative">
                        <input id="CardTxt" dir="ltr" type="tel" name="cardnumber" maxlength="30" class="form-control"
                            style="text-align: right; width: 100%;"><br>
                    </div>
                </div>

                <div id="ClientTokefSpan" class="SpanDiv">
                    <span class="SpanLbl"><span style="color: indianred">*</span><span
                            id="ClientTokefLbl">:תוקף</span></span><br>
                    <input id="TokefTxt" dir="ltr" type="tel" name="expiry" maxlength="5" placeholder="לדוגמא 0426"
                        class="form-control" style="text-align: right; width: 100%;"><br>
                </div>
                <div id="ClientCVVSpan" class="SpanDiv">
                    <span class="SpanLbl"><span style="color: indianred">*</span><span id="ClientCVVLbl"> ספרות בגב
                            הכרטיס </span></span><br>
                    <input id="CvvTxt" name="cvv" dir="ltr" type="tel" maxlength="4" class="form-control"
                        autocomplete="off" style="text-align: right; width: 100%;"><br>
                </div> -->

                <div id="PayBt" style="margin-top: 30px; text-align: center">

                    <input [disabled]="loading" type="submit" id="PayBtBt"
                        style="width: 60%; cursor: pointer; color: white" value="אישור הרשמה" class="NewCardCss">
                </div>

            </form>
        </div>
    </div>
</div>