<div class="wrapQues">
    <div class="rout">
    <h1>"אודות "ללמוד וללמד</h1>
    </div>
    <div class="accordionQues">
<p dir="rtl">
    1) אתר 'ללמוד וללמד' – מטרתו היא, לאחד את כל לומדי התורה בכל מקומות מושבותיהם אל שולחן אחד, בו יוכל כל אחד להציע את ספיקותיו ולפשוט את לבטיו בכל חדרי התורה,
     ולהשיב תשובות על שאלותיהם של אחרים בעולם במקום שהוא לומד. כך יכול כל אחד להכנס למסכת והדף אשר הוא לומד, ולשאול שאלות על אותה הסוגיא וכן להשיב על שאלותיהם של אחרים שעסקו בסוגיא זו.
    <br />
    <br />
    2) כדי להיכנס, על המשתמש להירשם בהרשמה ולהזין כתובת דוא"ל קיים ואת שאר הפרטים כמצויין בדף ההרשמה, ולבחור סיסמא בת  שמונה תווים (לפחות), אשר על ידם יהיה יכול להכנס למערכת בכל עת.
    ההרשמה הינה בתשלום חד פעמי של 100 ₪ בלבד, ובכך יתאפשר לנרשם כניסה למערכת ולהשתמש בה בלא הגבלה.
    <br />
    <br />
    3) בכל כניסה למערכת יש להזין את כתובת הדוא"ל שעמו נרשמתם למערכת והסיסמא שבחרתם. 
    <br />
    <br />
    כל שעליכם לעשות הוא  - לבחור מסכת ודף או חלק השו"ע עם הסימן והסעיף, אחרי הכניסה תראו מיד את היסטוריית השאלות שנשאלו על דף וסעיף זה, וכן לשאול שאלות או להוסיף תירוצים על שאלות שנשאלו על ידי אחרים.
    <br />
    4) כל שאלה שנשאלה – ואחר עונה עליה תשובה, נשלחת הודעת דוא"ל באופן אוטומטי לשואל, עם השאלה והתירוץ.
    <br />
    5) יש אפשרות לקבל הודעה לכתובת הדוא"ל של המשתמש בכל פעם שיש מי ששואל שאלות על דף מסוים או סימן וסעיף מסוים. בכדי לקבל הודעות אלו, יש להיכנס ל'בחירת דפים לקבלת מיילים', ואח"כ לבחור את הדף או הסעיף שעליהם רוצה לקבל את השאלות.
    <br />
    <br />
      
    בברכת יגדיל תורה ויאדיר
    <br />
    מערכת 'ללמוד וללמד'
    
    </p>
    </div>
</div>
